@import url('https//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


:root{
    --padding-conteiner: 100px 0;
    --color-title: blue;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.conteiner{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-conteiner);
}


.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr; 
    color: white;   
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/sumit-saharkar-8MJ9Ys0C3Qw-unsplash.jpg);
    background-size: cover;
    z-index: -1;
}
/* Nav */
.nav{
    --padding-conteiner:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items{
    list-style: none;
}

.nav_links{
    color: white;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}

.buscar{
    position: relative;
    padding: 5px;
}
.buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
     transition: all 0.6s ease;
}
.btn{
    position: relative;
    top: 0;
    right: 0;
    background-color: #da1212;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #cfb7b7;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;

}
.buscar:hover input{
    width: 240px;

}
.buscar input:focus{
    width: 240px;
}


/*hero conteiner*/

.hero_conteiner{
    max-width: 800px;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}



.hero_title{
    font-size: 3rem;
    color: #fff;
}
.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: blue;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
 /* About*/

 .about{
    text-align: center;
 }

 .subtitle{
    text-align: center;
    font-weight: 1000;
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
 }
 .about_paragraph{
    line-height: 1.7;
 }

 .about_main{
    padding-top: 80px;
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));

 }

 .about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
 }
 .about_icon{
    width: 60px;
 }

 /* knowledge*/

 .knowledge{
    background-color: #e5e5f7;
    background-image:  radial-gradient(#000000 0.2px, transparent 0.2px), radial-gradient(#cfb7b7 0.2px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
 }
 .knowledge_conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
 }
 .knowledge_picture{
    max-width: 500px;
 }
 .knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
 }

 .knowledge_img{
    width: 100%;
    display: block;
 }

 /* price*/

 .price{
    text-align: center;
 }
 
 .price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
 }
 .price_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan:#696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
 }
 .price_element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #FF7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #fff;
    --bg-ct: #9F3919;
    --color-plan:  rgb(255 255 255 / 75%);
    --color-items: #fff;

 }
 .price_name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
 }
.price_price{
    font-size: 2.5rem;
    color: var(--color-price);
}
.price_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.price_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgb(0, 0, 0, .5);
}

/* Testimony */

.testimony{
    background-color: #fff;
}
.testimony_conteiner{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.testimony_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.testimony_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.testimony_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;

}
.subtitle{
    background-color:rgb(20, 71, 108);
    color: white;
    display: inline-block;
    padding: 2px;    
}
.testimony_texts{
    max-width: 700px;
}
.testimony_course{
    background-color: rgb(20, 71, 108);
    color: white;
    display: inline-block;
    padding: 5px;
}
.testimony_arrow{
    width: 90%;
    cursor: pointer;
}

/*Questions*/

.questions{
    text-align: center;
}
.questions_conteiner{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}
.questions_padding{
    padding: 0;
    transition: padding .3s;
    border: 2px solid #000000;
    border-radius: 6px;
}
.questions_padding--add{
    padding-bottom: 30px;
}

.questions_answer{
    padding:  0 30px 0;
    overflow: hidden;
}
.questions_title{
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions_arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}
.questions_arrow--rotate{
    transform: rotate(180deg);
}

.questions_show{
    text-align: left;
    height: 0;
    transition: heigth .3s;
}
.questions_img{
    display: block;
}
.questions_copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.questions_cta{
    text-align: center;
}
.questions_offer{
    text-align: center;
    align-items: center;
    font-size: small;
}



/* Footer*/

.footer{
    background-color: #1D293F;
}
.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title, .footer_newsletter{
    color: #fff;
}
.footer_conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}
.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
.footer_input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
}

.footer_copy{
    --padding-conteiner: 30px 0;
    text-align: center;
    color: #fff;
}
.footer_copyright{
    font-weight: 300;
}
.footer_icons{
    margin-bottom: 10px;
}
.footer_img{
    width: 30px;
    
}

/* Medias queris*/

@media (max-width:800px){
    .nav_menu{
        display: block;
    }
    .nav_link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav_link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;


    }
    .nav_close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero_title{
        font-size: 2.5rem;
    }

    .about_main{
        gap: 2em;
    }

    .about_icons:last-of-type{
        grid-column: 1/-1;
    }

    .knowledge_conteiner{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge_picture{
        grid-row: 1/2;
        justify-self: center;
    }
    .testimony_conteiner{
        grid-template-columns: 30px 1fr 30px;
    }
    .testimony_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimony_img{
        width: 200px;
        height: 200px;
    }

    .questions_copy{
        width: 100%;
    }
    .footer_conteiner{
        flex-wrap: wrap;
    }
    .nav--footer{
        width: 100%;
        justify-items: center;
    }
    .nav_link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0%;
    }
    .footer_form{
        width: 100%;
        justify-content: space-evenly;
    }
    .footer_input{
        flex: 1;
    }
}


/* primero enlazamos las fuentes de letra con las que trabajare */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* primero iniciamos con que todo el documento este sin ningun estilo  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
     background-repeat: no-repeat;
     background-size: cover;
    
}
/* dar dise単o al cuadro blanco o etiqueta form */
.formulario{
    background-color: rgb(246, 248, 248);
    padding: 1px;
}
/* estilo a la letra */
h1{
font-size: 2rem;
font-family: 'Poppions';
color: rgb(11, 3, 3);
text-align: center;
}
/* para el contenedor centrado */
.contenedor{
  padding: 15px;
  width: 100%;  
}
/* dar tama単o a los iconos */
.contenedor-imputs{
   font-size: 22px;
   color: #e74a1a;
   border:solid 1px #ff1a1a;
   margin-bottom: 15px;
   padding: 10px; 
}
/* dar estilos a los imput (los cuadros) */
input[type="text"]{
    font-size: 1.2rem;
    font-family: Poppins;
    border: none;
    margin-left: 10px;
    color: black;
    width: 95%;
}
input[type="tel"]{
    font-size: 1.2rem;
    font-family: Poppins;
    border: none;
    margin-left: 10px;
    color: black;  
    width: 95%;
}
input[type="email"]{
    font-size: 1.2rem;
    font-family: Poppins;
    border: none;
    margin-left: 10px;
    color: black;
    width: 95%;   
}
/* input que  da estilos a los que contiene los cuadros de texto */
input[type="password"]{
    font-size: 1.2rem;
    font-family: Poppins;
    border: none;
    margin-left: 10px;
    color: black;
    width: 95%;  
}

/* para la clase boton que contiene el input tenga una separacion de los input password */
.boton{
    margin-top: 20px;
}

/* para estilos del boton */
input[type="submit"]{
    width: 100%;
    padding: 15px;
    font-size: 1.4rem;
    color: aliceblue;
    background-color: #0b0a0a;
    border-radius: 5px;

}
/* para cambiar de color al momento de dar click en el botton */
input[type="submit"]:hover{
    background-color: #e74a1a;
    font-weight: 800; 

}

p{
    font-size: 1.3rem;
    font-family: sans-serif;
    text-align: center;
}

.link{
    color: #ff1a1a;
    text-decoration: none;
}

.link:hover{
    color: #fb7c04;
    font-size: 1.5rem;
    font-weight: 700;
}

/* responsivo */
@media screen and (min-width:767px){
    .formulario{
        margin: auto;
        width: 510px;
        margin-top: 50px;
        padding: 15px;
        border-radius: 25px;

    }
    .contenedor-imputs{
        font-size: 19px;
        margin-right: 20px;
    }
    input[type="text"]{
        width: 90%;
        font-size: 19px;
    }
    input[type="tel"]{
        width: 90%;
        font-size: 19px;
    }
    input[type="email"]{
        width: 90%;
        font-size: 19px;
    }
    input[type="password"]{
        width: 90%;
        font-size: 19px;
    }
    /* estilizar el boton */
    input[type="submit"]{
        width: 96%;
        font-size: 19px;
    }
    p{
        font-size: 19px;
        padding:0px 15px;
    }
    
    
    

    
}




/* estilos de iniciar sesion */
.cuerpo{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
     background-repeat: no-repeat;
     background-size: cover;
    
}
/* dar dise単o al cuadro blanco o etiqueta form */
.form{
    background-color: rgba(251, 246, 238, 0.034);
    padding: 1px;
}
/* estilo a la letra */
#titulo{
font-size: 2rem;
font-family: 'Poppions';
color: rgb(243, 235, 235);
text-align: center;
}
/* para el contenedor centrado */
.cont{
  padding: 15px;
  width: 100%;  
}
/* dar tama単o a los iconos */
.cont-imputs{
   font-size: 22px;
   color: #f8efeffc;
   border:solid 1px #f8eeeef6;
   margin-bottom: 15px;
   padding: 10px; 
}
/* dar estilos a los imput (los cuadros) */
input[type="text"]{
    font-size: 1.2rem;
    font-family: Poppins;
    border: none;
    margin-left: 10px;
    color: black;
    width: 95%;
    
}
/* input que  da estilos a los que contiene los cuadros de texto */
input[type="password"]{
    font-size: 1.2rem;
    font-family: Poppins;
    border: none;
    margin-left: 10px;
    color: black;
    width: 95%;  
}

/* para la clase boton que contiene el input tenga una separacion de los input password */
.botones{
    margin-top: 20px;
}

/* para estilos del boton */
input[type="submit"]{
    width: 100%;
    padding: 15px;
    font-size: 1.4rem;
    color: aliceblue;
    background-color: #0b0a0a;
    border-radius: 5px;

}
/* para cambiar de color al momento de dar click en el botton */
input[type="submit"]:hover{
    background-color: #da1212;
    font-weight: 800; 

}

.color{
    font-size: 1.3rem;
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
}

.linke{
    color: #e90b0b;
    text-decoration: none;
}

.linke:hover{
    color: #ff2424;
    font-size: 1.5rem;
    font-weight: 700;
}

/* responsivo */
@media screen and (min-width:767px){
    .form{
        margin: auto;
        width: 510px;
        margin-top: 50px;
        padding: 15px;
        border-radius: 25px;

    }
    .cont-imputs{
        font-size: 19px;
        margin-right: 20px;
    }
    input[type="text"]{
        width: 90%;
        font-size: 19px;
    }
   
    input[type="password"]{
        width: 90%;
        font-size: 19px;
    }
    /* estilizar el boton */
    input[type="submit"]{
        width: 96%;
        font-size: 19px;
    }
    p{
        font-size: 19px;
        padding:0px 15px;
    }
    
    
    

    
}



